* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}
.logo {
  font-size: 35px;
  text-decoration: none;
  color: rgb(140, 6, 6);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 2rem;
  background-color: rgb(2, 16, 23);
  color: rgb(201, 233, 244);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}
/* styling links */

nav a {
  margin: 0 2rem;
  color: rgb(201, 233, 244);
  text-decoration: none;
  background-color: rgb(2, 16, 23);
  font-size: 1.2rem;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(201, 233, 244);
  visibility: hidden;
  opacity: 0;
}
.btn9 {
  font-size: large;
  font-weight: bold;
  padding: 10px;
  border-radius: 120px;
  color: rgb(201, 233, 244);
  background-color: rgb(119, 2, 2);
  margin-left: 10px;
  border: none;
}

/* responsive part (Mobile view)*/
@media only screen and (max-width: 1223px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
    font-size: 1.6rem;
    z-index: 999999;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgb(2, 16, 23);
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 999999;
  }
  header .responsive_nav {
    transform: none;
  }
  header .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
