.container{
  padding: 9.5em  4em 4em 4em;
  display: flex;
  /* border: 5px solid rgb(41, 10, 10); */
  /* height: 100vh; */
flex-direction: row;
justify-content: space-evenly;
width: 100%;
background: darkgray;
margin-top: 40px;
box-shadow:0 3px 20px 23px rgb(44, 44, 225);

}
.container2{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content:space-evenly;
}
ul{
  list-style-type: '\279B';
}
.headd{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: rgb(22, 9, 137);
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: darkgray;

}
.Day{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 60vh;
  width: 20%;
  background: rgb(31, 2, 68);
  background: linear-gradient(166deg, rgb(65, 4, 39) 4%, rgba(89,130,209,1) 48%, rgba(62,252,160,0.6393907904958859) 70%);
color: white;
border-radius: 1em;
}

.Day:hover {
  transform: scale(1.2);
  color: rgb(48, 43, 43);
  background: lightgray;
}


.Month{
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border: 0px solid black;
  height: 60vh;
  width: 20%;
  background: rgb(144,149,235);
background: linear-gradient(166deg, rgb(65, 4, 39) 4%, rgba(89,130,209,1) 48%, rgba(62,252,160,0.6393907904958859) 70%);
color: white;
}
.Month:hover{
  transform: scale(1.2);
  color: rgb(48, 43, 43);
  background: lightgray;
}

.price{
  font-size:4em;
}
 .price:hover{
  font-size:4em;
  color: rgb(95, 8, 62);
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 40px;
  width: 40%;
  background: rgb(31, 2, 68);
  background: linear-gradient(166deg, rgb(65, 4, 39) 4%, rgba(89,130,209,1) 48%, rgba(62,252,160,0.6393907904958859) 70%);
  color: white;
  border-radius: 100px;
  
 }
 .first{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
  }
  .first h1 {
    margin-bottom: 20px;
  }
  .first h2 {
    margin-bottom: 20px;
  }
  .first p{
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
  }
  .second{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

 
  }
  .second h3{
    font-size: 25px;
    
  }
  
  .list{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-weight: 600;

  }

.btn{
  width: 9em;
  padding: 0.9em;
  border: none;
  border-radius: 20px;
  
}

@media  (max-width:1096px) {
  
  .container2{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .Day{
    width:100%;
    margin-bottom: 20px;
    border-radius: 100px;
  }
  .Month{
    width:100%;
    margin-bottom: 20px;
    border-radius: 100px;
    
    
  }
  .content{
    width:100%;
    margin-bottom: 20px;

  }
  
}

