.Container2{
    height:85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: darkgray;
  
    
     }

     .Fields{
        border:none;
        padding: 40px;
        background-color: rgb(200, 198, 196);
        border-radius: 50px;
        box-shadow: 0 3px 24px 20px rgb(130, 130, 248);
     }







.input1{
     border:2px black solid;
    width: 300px;
    padding: 5px; 
     background: rgba(255, 255, 255, 0.811); 
     z-index: 0;
    
}
.i1{
    border:none;
    position: relative;
    height: 25px;
    width:200px;

   
}
.icon1{
   position: relative;
   margin-right: 40px;
}

.input2{
     border:2px black solid; 
      width: 300px;
    padding: 5px;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.811); 
   
}

.I2{
    border: 0;
 position: relative;
height: 25px;
width:200px;
    

}
.icon2{
    position:relative;
    
    margin-right: 40px; 
    
}

.Lower-Container{
    margin-top: 100px;
    display: flex;
    justify-content:space-between;
}
.Btn{
    font-size: larger;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    background-color:rgb(118, 8, 8); 
    border: 0;
}

.input3{
    border:2px black solid;
    width: 300px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.811);
    margin-bottom: 30px;
}
 .I3{
    border: 0;
    height: 25px;
    width:200px;

 }
 .icon3{
    margin-right: 40px;
    
}
.log-link{
    margin-top: 40px;
    display: flex;
    justify-content:space-between;
    
   }
   .btn2{
    font-size: larger;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    background-color:rgb(137, 4, 22); 
    border: 0;
   }

   
  
