.Mainn{
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: darkgray;
   
   
    
}
.section2{
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
}
.row-team{
   
    margin-bottom: 20px;
    padding:4rem;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    color: rgb(22, 9, 137);
    margin-top: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.product-team{
   
    margin-bottom: 20px;
    overflow: hidden;
    width: 325px;
    text-align: center;
    background-color: rgb(236, 220, 220);
    border: 1px solid black;
    box-shadow: 0 3px 24px rgb(6, 5, 67);
    border-radius: 9px;
}